<ul>
  <li><a href="" [routerLink]="['../1']">1</a></li>
  <li><a href="" [routerLink]="['../2']">2</a></li>
  <li><a href="" [routerLink]="['../3']">3</a></li>
  <li><a href="" [routerLink]="['../4']">4</a></li>
  <li><a href="" [routerLink]="['../5']">5</a></li>
  <li><a href="" [routerLink]="['../6']">6</a></li>
  <li><a href="" [routerLink]="['../7']">7</a></li>
  <li><a href="" [routerLink]="['../8']">8</a></li>
  <li><a href="" [routerLink]="['../9']">9</a></li>
  <li><a href="" [routerLink]="['../10']">10</a></li>
</ul>
